@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
}
.product-card {
  width: 100%;
  max-width: 600px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}
.product-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.product-card {
  width: 100%;
  max-width: 600px;
  height: 450px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}

.product-image {
  height: 100%;
}

.product-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.product-details {
  padding: 32px;
}

.product-category {
  margin-bottom: 20px;

  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.product-details h1 {
  margin-bottom: 24px;

  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: 1;
}

.product-description {
  margin-bottom: 24px;

  font-size: 14px;
  line-height: 1.6;
}

.product-price {
  margin-bottom: 26px;

  display: flex;
  align-items: center;
  gap: 18px;
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
}

.old-price {
  font-size: 13px;
  text-decoration: line-through;
}

.add-to-cart {
  width: 100%;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 8px;
  background-color: hsl(158, 36%, 37%);
  color: white;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.add-to-cart img {
  width: 15px;
}

.add-to-cart:hover {
  background-color: hsl(158, 42%, 18%);
}

.attribution {
  margin-top: 20px;
}
@media (max-width: 600px) {
  body {
    padding: 28px 16px;
    justify-content: flex-start;
  }

  .product-card {
    max-width: 345px;
    height: auto;
    grid-template-columns: 1fr;
  }

  .product-image {
    height: 240px;
  }

  .product-details {
    padding: 24px;
  }

  .product-category {
    margin-bottom: 14px;
  }

  .product-details h1 {
    margin-bottom: 16px;
    font-size: 32px;
  }

  .product-description {
    margin-bottom: 20px;
  }

  .product-price {
    margin-bottom: 18px;
  }

  .attribution {
    margin-top: 18px;
  }
}